{{#extend 'main'}}
  {{#content 'body'}}
    <h2>Administra tus finanzas de manera eficiente</h2>
    <p>Con nuestra plataforma, puedes gestionar tu presupuesto, registrar tus gastos y mucho más.</p>
  {{/content}}
{{/extend}}
